body {
    font-family: Arial, sans-serif;
    background: #191919;
    margin: 0;
    padding: 0;
    color: #ffffff;
}
  
header {
    background: #191919;
    padding: 1rem;
    border-bottom: 0.2rem solid #de0be6;
    box-shadow: 0 0.2rem 1rem #de0be6;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
}
  
nav .social-links a,
nav .main-links a {
    position: relative;
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
}

/* Animated underline */
nav .social-links a::after,
nav .main-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px; /* distance below the text */
    width: 0;
    height: 2px;
    background-color: #de0be6;
    transition: width 0.8s ease;
}

nav .social-links a:hover::after,
nav .main-links a:hover::after {
    width: 100%;
}

.container {
    display: flex;
    padding: 1rem;
    position: relative;
}

aside {
    width: 200px;
    padding-right: 1rem;
}

aside h3 {
    color: #333;
    font-size: 1rem;
    margin-top: 1rem;
}

aside ul {
    list-style: none;
    padding-left: 0;
}

aside ul li {
    margin: 5px 0;
}

main {
    flex: 1;
    max-width: 700px;
}

main section {
    margin-bottom: 30px;
}

.profile-pic {
    position: absolute;
    right: 2%;
    top: 5%;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #de0be6;
    /* box-shadow: 0.2rem 0.2rem 1rem #de0be6; */
}
  